<p style="color: green"><%= notice %></p>

<% content_for :title, "Task list" %>

<div class="d-flex flex-row justify-content-between mx-5">
    <h1 class="text-center">Task list</h1>
    <%= button_to "New task", new_task_path, method: :get,class: "btn btn-success" %>
</div>

<div id="tasks" class="mx-5">

    <% @tasks.each do |task| %>
    <div class="border border-2 rounded d-flex flex-row justify-content-between p-2 mb-2">
        <%= render task %>
        <div class="d-flex flex-column me-5">
            <%= button_to "Show this task", task, method: :get, class: "btn btn-primary mt-2", form: {class: "d-inline"}, style: "min-width: 133px" %>
            <%= button_to "Edit this task", edit_task_path(task),  method: :get, class: "btn btn-warning mt-2", form: {class: "d-inline"}, style: "min-width: 133px" %>
            <%= button_to "Delete this task", task, method: :delete, class: "btn btn-danger mt-2 ", form: {class: "d-inline"} , style: "min-width: 133px"%>



        </div>
    </div>
    <% end %>
</div>